extends templates/template.pug

block content
  div(id='event' class='container-fluid'
  style='background-image: linear-gradient(rgba(0,0,0,0), black),url("data:' + event.img_mime + ';base64,' + event.img_data + '")')
    div(class='fixed-bottom')
        h2(class='text-light')
          = event.event_name

  div(class='row')
    div(class='col-md-8')
      p(style='white-space: pre-wrap')= event.body

    div(class='col-md-4')
      table(class='table')
        tr
          td= 'Location'
          td= event.location
        tr
          td= 'Date'
          td #{moment(event.date).format("Do MMM 'YY (dddd)")}
        tr
          td= 'Time'
          td #{moment(event.date).format("h.mm a")}
        tr
          td= 'Organiser'
          td
            a(href='/profile/id/' + event.organiser_id)
              | #{event.organiser_name}

  - var id = session.user_id.toString()
  if id == event.organiser_id
    p(class='text-center')
      a(href='/events/update/' + event._id)
        button(type='submit' class='btn btn-secondary') Edit event
