extends templates/template.pug

block content
  form(action='/' method='GET')
    - var view = session.view

    div(class='form-row')
      div(class='form-group form-inline col-md-4')
        label(class='mr-2') Show
        select(name='category' class='form-control')
          option(value='all' submitted= view.category == null) All
          option(value='sports' submitted= view.category == 'sports') Sporting
          option(value='cultural' submitted= view.category == 'cultural') Cultural
          option(value='other' submitted= view.category == 'other') Miscellaneous
        label(class='ml-2') Events

      div(class='form-group form-inline col-md-4')
        label(class='mr-2') Sort by
        select(name='sort' class='form-control')
          option(value='date' submitted= view.sort == null || view.sort == 'date') Oldest to Newest
          option(value='name' submitted= view.sort == 'name') Alphabetical
          option(value='likes' submitted= view.sort == 'likes') No. of Likes

      div(class='form-group form-inline col-md-2')
        input(class='form-check-input' type='checkbox' name='old')
        label(class='form-check-label') Old events

      div(class='form-group form-inline col-md-2')
        button(type='submit' class='btn btn-outline-info') Query

  hr

  if(events)
    div(class='list-group')
      each event in events
        div(class='event-item'
          style='background-image: linear-gradient(rgba(0,0,0,0.5), black),url("data:' + event.img_mime + ';base64,' + event.img_data + '")')
          div(class='container-fluid' style='bottom: 0; position: absolute')
            div(class='row align-items-end')
              div(class='col-md-4')
                a(href='/events/id/'+ event._id class='text-light')
                  h3= event.event_name

              div(class='col-md-2')
                p(class='text-light') #{event.category.charAt(0).toUpperCase() + event.category.slice(1)}

              div(class='col-md-2')
                img(class='symbol' src='icons/location.svg')
                p(class='text-light align')= event.location

              div(class='col-md-2')
                img(class='symbol' src='icons/clock.svg')
                p(class='text-light') #{moment(event.date).format("DD/MM/YY")}

              div(class='col-md-2')
                img(class='symbol' src='icons/thumb-up.svg')
                p(class='text-light')= event.likes + ' likes'

  else
    p
      | No events to show
